<div class="tasks-rows now-next-later"
        ng-controller="DependencyListsController">

        <!-- The ModalX -->
        <div id="new-task-modal-screen" class="modal-dialog-bg"
                ng-class="{'visible-modal': page.modalVisible}">


                <!--  Modal content  ::  New Task Dialog box  -->

                <div class="modal-dialog-box new-task-dialog" ng-class="{'visible-dialog': page.taskDialogVisible}">
                        <div class="dialog-header">
                                <h2>Add New Task</h2>
                                <!-- div class="close-dialog" ng-click="cancelModalDialog()">&#x274c;</div -->
                                <div class="close-dialog" ng-click="cancelAddNewTaskDialog()">&times;</div>
                        </div>

                        <form id="new-task-dialog-form">
                                <div>
                                        <label>Title: </label> <input class="title" type="text"
					id="new-task-dialog-form-init"	
                                                ng-model="newTask.title">
                                </div>
                                <div>
                                        <label>Summary: </label>
                                        <textarea class="summary" ng-model="newTask.summary"></textarea>
                                </div>
                                <div>
                                        <label>Full Text: </label>
                                        <textarea class="fulltext" rows="12" ng-model="newTask.fullText"></textarea>
                                </div>
                                <div class="submit-buttons">
                                        <button ng-click="addNewTask()">Add</button>
                                </div>
                        </form>
                </div>

                <div class="modal-dialog-box new-project-dialog" ng-class="{'visible-dialog': page.projectDialogVisible}">
                        <div class="dialog-header">
                                <h2>Add New Project</h2>
                                <div class="close-dialog" ng-click="cancelAddNewProjectDialog()">&times;</div>
                        </div>

                        <form id="new-project-dialog-form">
                                <div>
                                        <label>Name: </label> <input class="name" type="text" id="new-project-dialog-form-init"
                                                ng-model="newProject.name">
                                </div>
                                <div>
                                        <label>Description: </label>
                                        <textarea class="description" rows="5"
                                                ng-model="newProject.description"></textarea>
                                </div>
                                <div class="submit-buttons">
                                  <button ng-click="addNewProject()">Add</button>
                                </div>
                        </form>
                </div>


        </div>

        <div class="buttons">
                <button class="add-task" type="button"
                        ng-click="showAddNewTaskDialog()">Add Task</button>
    <button class="add-project" type="button"
      ng-click="showAddNewProjectDialog()">Add Project</button>
        </div>


        <div class="task-column tasks-now col-md-3" id="tasks-now-column">
                <h2 class="column-heading">\{{ taskData.now.heading }}</h2>

                <task-summary ng-repeat="task in taskData.now.tasks" task="task"></task-summary>


        </div>

        <div class="task-column tasks-next col-md-3">
                <h2 class="column-heading">\{{ taskData.next.heading }}</h2>

                <task-summary ng-repeat="task in taskData.next.tasks" task="task"></task-summary>

        </div>



        <div class="task-column tasks-later col-md-3">
                <h2 class="column-heading">\{{ taskData.later.heading }}</h2>
                <task-summary ng-repeat="task in taskData.later.tasks" task="task"></task-summary>
        </div>

        <div class="task-column tasks-later-still col-md-3">
                <h2 class="column-heading">Later Still</h2>
                <task-summary ng-repeat="task in taskData.laterStill.tasks"
                        task="task"></task-summary>
        </div>

</div>