<h1>{{title }}</h1>

<!-- the Draggable -->



<div style="width: 100%; height: 100px; position: fixed; background-color: blue ">
<div id="aButton" class="ui-widget-content">
  <p>Draggable</p></div>

<!-- div id="draggable" class="ui-widget-content">
  <p>Drag me around</p>
</div -->
</div>


<style>
#draggable { width: 150px; height: 150px; padding: 0.5em; }
</style>
<script>

//nnlUi.init(1);



//console.log(NowNextLaterUI);
var nnlUi = new NowNextLaterUI.MyModule.init();

</script>

<!--div id="projects">
    <h3>jQuery Core</h3>
    <p>jQuery is a fast, small, and feature-rich JavaScript library...</p>
    <h3>jQuery UI</h3>
    <p>jQuery UI is a curated set of user interface interactions...</p>
    <h3>jQuery Mobile</h3>
    <p>jQuery Mobile is a HTML5-based user interface system...</p>
</div>

<script>
    $( "#projects" ).accordion();
</script -->

<!-- The Modal -->
<div id="myModal" class="modal-dialog-bg">


  <!-- Modal content -->
  <div class="modal-dialog-box">
    <span class="close">x</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
